
* {

  -webkit-box-sizing: border-box;

  -moz-box-sizing: border-box;

  box-sizing: border-box;

}

body,

html {

  width: 100%;

  height: 100%;

  margin: 0;

  padding: 0;

  overflow: auto;

  font-family: monospace;

  background-color: #eeebf0;

  position: relative;

}

.suggest-l {

  width: 300px;

  height: 300px;

  background: transparent url("http://s.cdpn.io/6859/suggest.png") no-repeat center center;

  position: absolute;

  top: 50%;

  left: 50%;

  margin-left: 200px;
  margin-top: -200px;

}

.iphone-l {
  width: 600px;

  height: 1061px;

  margin: 0 auto;

  margin-top: 50px;

  background: transparent url("http://s.cdpn.io/6859/iphone.png") no-repeat center center;

  position: relative;

}

.iphone-l > .screen-ll {

  position: absolute;

  top: 185px;

  left: 91px;

  width: 416px;

  height: 713px;

  overflow: hidden;

}

.touch {

  overflow: hidden !important;

  border: 10px solid #f00;

}

#wrapper {

  position: absolute;

  left: 0;

  top: 0;

  width: 100%;

  height: 100%;

  overflow: auto;

  overflow-x: hidden;

}

#wrapper.is-with-scroll {

  width: 432px;

}

#wrapper .menu-l {
